.add-option-error{
    color:$off-white;
    font-style: italic;
    margin:$s-size 0 0 0;
    padding: 0 $s-size;   
}

.add-option{
    display: flex;
    flex-direction: column;
    padding: $s-size;

}

.add-option_input{
    background: $dark-blue;
    border:none;
    border-bottom: .3rem solid darken($dark-blue,10%);
    color: $off-white;
    flex-grow: 1;                   //1 tells the element to take up all the space and grow accordingly as the browser window resizes
    //margin-right: $vs-size;
    margin: 0 0 $vs-size 0;
    padding:$vs-size;
}

@media (min-width:$desktop-breakpoint){
    .add-option{
        flex-direction: row;
    }

    .add-option_input{
        margin: 0 $vs-size 0 0 ;
    }
}